<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>166204133980-l6q00eea2kqjnig4egk3tbl7l5eoadrr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166204133980-l6q00eea2kqjnig4egk3tbl7l5eoadrr</string>
	<key>API_KEY</key>
	<string>AIzaSyD9VzMeVMtK20GDcTONwony8hcMgdm0Mng</string>
	<key>GCM_SENDER_ID</key>
	<string>166204133980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>App-Whole.SocialMedia</string>
	<key>PROJECT_ID</key>
	<string>socialmedia-1a4b1</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmedia-1a4b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:166204133980:ios:2d29c57c727ac1df</string>
	<key>DATABASE_URL</key>
	<string>https://socialmedia-1a4b1.firebaseio.com</string>
</dict>
</plist>
